<section class="container">
    <h2 class="header">Chat</h2>
    <div class="features">
        <div class="card">
          <span><i class="ri-chat-1-line"></i></span>
          <h4>Chat</h4>
          <p>
              Chat with Staff.
          </p>
          <a href="{% url 'dashboard-staff' %}">Chat <i class="ri-arrow-right-line"></i></a>
      </div>
       
    </div>
</section>
<div class="container ">
  <h3 class="text-white">Your Orders</h3>
  <div class="row mt-4">
      <div class="col-md-3">
          <div class="card bg-dark text-white form-container">
              <div class="card-header">
                  Make Request
              </div>
              <div class="card-body">
                {% load crispy_forms_tags %}
                  <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                      <input class="btn2" type="submit" value="Request">
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-8 container1 ">
        <table >
            <thead >
                <tr >
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                {% if order.staff == user %}

                <tr >
                    <td>{{ order.product.name }}</td>
                              <td>{{ order.product.category }}</td>
                              <td>{{ order.order_quantity }}</td>
                              <td>{{ order.date }}</td>
                </tr>
                {% endif %}
                {% endfor %}
               
            </tbody>
        </table>
    </div>
  </div>
</div>
